@font-face {
  font-family: 'Acrom';
  src: url('/fonts/acrom100.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/acrom300.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/acrom600.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/acrom800.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/acrom900.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/ofont.ru_Acrom.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Acrom', system-ui, sans-serif;
  }
}